body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toot-tip{
  opacity: 0;
}
.toot-tip:hover{
  opacity: 1;
  cursor: pointer;
  background-color: black;
  width:130px;
  color: white;
  position: absolute;
  text-align: center;
  padding: 5px;
  transition: opacity 1s;
}
.visible-component{
  position: relative;
  margin-left: 45%;
  margin-top: 10%;
}